html
	head
		title "Welcome"
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/bootstrap-theme.min.css', rel='stylesheet')
		link(href='/mystyles.css', rel='stylesheet')
	body
		if arr.length!=0
			header.jumbotron
				.container
					.row			
						.col-xs-12.col-sm-10
							h1= facname
							h2= facid
							br
							br
						.col-xs-12.col-sm-2
							img(src='/pes.png',alt='PES Logo')

			.container
				.row
					.col-xs-12.col-sm-10.col-sm-offset-2
						h3 Profile				
						- var url = "https://achintya.herokuapp.com/login/faculty/FacultyDetails"
						.table-responsive
							table(class="table table-striped")
								tr
									th Course
									th Option
								- for(var i = 0; i < arr.length; i++) {
									
								tr
									td= arr[i].cname
									td
										form(action="#{url}", method="post" enctype="application/json")
											input(type="submit", value="See Status")
											input(type="hidden", name="fid", value= facid)
								- }
		else
			header.jumbotron
				.container
					.row
						.col-xs-12.col-sm-10
							h1 Oops :(
							br
							br
						.col-xs-12.col-sm-2
							img(src='/pes.png',alt='PESLogo')
			.container
				.row
					.col-xs-12.col-sm-10.col-sm-offset-2			
						h3 Sorry! There is no faculty registered with that name!
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js').
		script(src='/js/bootstrap.min.js')