html
	head
		title "Welcome"
	body
		if arr.length!=0
			h1= facname
			h2= facid
			- var url = "http://192.168.43.215:3000/login/faculty/FacultyDetails"
				table(border="border")
					tr
						th Course
						th Option
					- for(var i = 0; i < arr.length; i++) {
						
					tr
						td= arr[i].cname
						td
							form(action="#{url}", method="post" enctype="application/json")
								input(type="submit", value="See Status")
								input(type="hidden", name="fid", value= facid)
					- }
		else
			p Sorry. There is no faculty registered with that name!